/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

header {
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.navbar-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-btn {
    border: solid 1px black;
    padding: 10px;
}

.serie-container {
    margin: auto;
    margin-top: 50px;
}

.serie-title {
    text-align: center;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    width: 70%;
}

.active-btn {
    text-decoration: underline;
}